.sidenav {
  background: #263238;
  transition: all .5s ease;
  // position: fixed;
  z-index: 1;
  top: 0;
  width: 6rem;
  height: 90vh;
  box-shadow: 0 -6px rgb(243, 243, 240),
    0 6px rgb(243, 243, 240),
    -7px 0 4px -3px rgb(60, 58, 58),
    7px 0 4px -3px rgb(60, 58, 58);

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      // background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-xmark {
        color: #fff;
        font-size: 24px;
      }

    }
  }
}

.sidenav-collapsed {
  width:15.6rem;
  .sidenav-nav {
    .sidenav-nav-item {
      .sidenav-nav-link {
        .sidenav-link-icon {
          width: 6.5rem;
        }
      }
    }
  }

  .sidenav-nav {
  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      width: 15rem;
    }
  }
}
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item {
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;
      width: 15rem;


      .sidenav-link-icon {
        font-size: 22px;
        width: 13.5rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 2.8rem;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: #fff;
      color: #000;
      width: 6rem;
    }
  }

}
