<div class="row mt-2 ms-3 mb-2 cardstyle">

  <div class="card me-3 bgcol leftcard">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="titleText">
            <p class="animate__animated animate__fadeInLeft">A Teacher's dashboard to help manage Code</p>
            <p class="plag animate__animated animate__fadeInLeft">Plagiarism. </p>

            <div class="row">
              <div class="col-6">


              </div>
              <div class="col-6">
                <img src="../../../../assets/dashboard.png" class="dashimg">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card me-3 bgcol rightcard">
    <div class="card-body ">
      <h3 class="features animate__animated animate__fadeInDown" style="border-bottom-style: solid;"> Features </h3>
      <p class="frontList animate__animated animate__lightSpeedInRight" *ngFor="let item of list"> {{item}}</p>

    </div>
  </div>





</div>
