<div class="row">
  <div class="col-12">
    <p class="title mt-3 ms-5">Courses/Assignments</p>
  </div>
</div>


<div class="carholder">
  <div class="d-flex justify-content-start regpanel">
    <div class="row rowdash">
      <div class="col-2">
        <div class="card text-center courseStyle">
          <div class="card-body">
            <h5 class="card-title crdtitle">Courses</h5>
            <hr class="divider-horizontal-blurry" style="color: white;" />
            <p class="card-text">
              <button class="mb-3" style="width:100%" mat-raised-button *ngFor="let course of courseList" (click)="courseButton(course)">{{course.courseName}}</button>
              <button mat-raised-button  style="width:100%" (click)="regFlag()">+Add Course</button>
            </p>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="card text-center">
          <div class="card-body regStyle">
            <h5 class="card-title crdtitle" *ngIf="newCourse">Course Registration</h5>
            <h5 class="card-title crdtitle" *ngIf="!newCourse">Assignments</h5>
            <hr class="divider-horizontal-blurry" style="color: white;" />
              <app-course-list *ngIf="!newCourse" [selectedCourse]="selectedCourse"></app-course-list>
              <app-reg-page *ngIf="newCourse" [courseList]="courseList"></app-reg-page>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card assgnStats">
          <div class="card-body">
            <h5 class="card-title  text-center crdtitle">Overview</h5>
            <hr class="divider-horizontal-blurry" style="color: white;" />

            <div class="card text-center">
              <div class="card-header">Module Features</div>
              <div class="card-body">
                <div class="list-group list-group-light">
                  <p href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">Register new a course or update an existing one</p>
                    <p href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">When new assignment is created, it is emailed to all enrolled students</p>
                <p href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">Use filter field to search for assignments</p>
                <p href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">Assignment button opens the uploaded pdf</p>
                <p href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">Submissions button opens all the submission with similarity scores</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
