@import '../../app.component.scss';


.rowdash{
  margin-top: 1.2rem;
  width: 100%;
}


.regpanel {
  margin-left: 9rem;
}

.courseStyle {
  height: auto;
  background-color: #48505a;

}

.regStyle {
  height: 39rem;
  background-color: #48505a;
  border-radius: 7px;
}

.assgnStats {
  height: 100%;
  background-color: #48505a;
}

.crdtitle {
  margin-bottom: -0.5rem;
  margin-top: -0.7rem;
  color: white; font-size:1.9rem;
}

