
    <ul class="navbar-nav  mb-2 mb-lg-0 me-3" *ngIf="auth.user$ | async as user">
      <li>
        <h5 class="mt-3 me-1">{{ user.name }}</h5>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <img
          [src]="user.picture"
            class="rounded-circle"
            height="44"
            alt=""
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu" style="margin-left: -12rem;" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <button class="dropdown-item" disabled>{{ user.email }}</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </li>
        </ul>
      </li>
    </ul>



